 <footer>
        <div class="justify-content-around row flex-column align-items-center flex-md-row mb-0">
            <div class="col-4 col-md-8">
              <a href="https://www.lnmiit.ac.in/">
                <img id="logofooter" src="./media/logo.png">
              </a>
            </div>

              <div class="col-8 col-md-4" id="bottoma">
                <a href="/">ABOUT</a>
                <a href="/faculty">FACULTY</a>
                <a href="/resources">RESOURCES</a>
                <a href="/contact">CONTACT</a>
              </div>

        </div>
        <hr/>
        <div class="row flex-column align-items-center flex-md-row mt-0">
          <div class="col-9 px-0" id="copyright">
              <p> Copyright @2020-2021 Department of Physics, LNMIIT.</p>
          </div>
          <div class="col-3 px-0" id="footericons">
              <a href="https://www.facebook.com/lnmiit.ac.in/" id="facebook"><i class="fab fa-facebook-square"></i></a>
              <a href="https://www.instagram.com/lnmiit/"><i class="fab fa-instagram"></i></a>
              <a href="https://twitter.com/lnmiit_jaipur?lang=en"><i class="fab fa-twitter-square"></i></a>
              <a href="https://in.linkedin.com/school/the-lnm-institute-of-information-technology/" id="linkedin"><i class="fab fa-linkedin"></i></a>
              <a href="https://www.youtube.com/channel/UCBndW-qun8prPOmq5kRFbjw"><i class="fab fa-youtube-square"></i></a>
          </div>
        </div>
    </footer>