<!-- Header -->
      <div id="navbarBrand" class="d-flex flex-row">
         <div class="mt-3 mb-3 ml-0 pl-3 pr-1 pl-md-3 pr-0 mt-md-3 mb-md-2 col-6 justify-content-start">
            <a href="https://www.lnmiit.ac.in/">
               <span class="Logo">
                   <img id="logo"src="./media/logo.png">
               </span>
            </a>
         </div>
         <div id="navbarHeader"class="d-flex col-6 flex-column align-items-end">
            <div class="pr-0 pr-sm-3 pt-3"><h4><i class="fas fa-atom d-none d-md-inline"></i> Classical Physics</h4></div>
            <div class="pr-2 pt-0 mt-0 pb-2">Department of physics, LNMIIT Jaipur</div>
         </div>
      </div>

   <nav class="navbar navbar-expand-md sticky-top">
      <div class="container-fluid p-0 d-flex flex-row">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                     <span><i class="fas fa-list-alt pl-1"></i></span>
               </button>
               <div id="navbar" class="collapse navbar-collapse ">

                 <ul class="navbar-nav mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class=" pr-3 nav-link" href="/"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link pr-3" href="/lectures"><i class="fas fa-book-reader"></i> Lectures</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link pr-3" href="/resources"><i class="fas fa-cog"></i> Resources</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link pr-3" href="/faculty"><i class="fas fa-chalkboard-teacher"></i> Faculty</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link pr-3" href="/Facilities"><i class="fas fa-microscope"></i> Facilities</a>
                  </li>
                   <li class="nav-item">
                     <a class="nav-link pr-3" href="/contact"><i class="far fa-address-book pr-1"> </i>Contact</a>
                   </li>
                 </ul>

               </div>
      </div>
   </nav>
   <!-- header -->