   <div class="row">
      <div class="sidenav col-2 d-flex flex-column" id="mySidenav">
            <a href="https://www.facebook.com/lnmiit.ac.in/" id="facebook"class="d-none d-md-block">
               Facebook
              <i class=" fab fa-facebook-square"></i>
            </a>
            <a href="https://www.instagram.com/lnmiit/" id="instagram"
            class="d-none d-md-block">
              Instagram
              <i class=" fab fa-instagram-square"></i>
            </a>
            <a href="https://twitter.com/lnmiit_jaipur?lang=en" id="twitter" class="d-none d-md-block">
              Twitter
              <i class=" fab fa-twitter-square"></i>
            </a>
            <a href="https://in.linkedin.com/school/the-lnm-institute-of-information-technology/" id="linkedin" class="d-none d-md-block">
              linkedin
              <i class=" fab fa-linkedin"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCBndW-qun8prPOmq5kRFbjw" id="youtube" class="d-none d-md-block">
              YouTube
              <i class=" fab fa-youtube-square"></i>
            </a>
      </div>
    </div>