<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


  <!-- Social icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/contact.css">
    <link rel="stylesheet" type="text/css" href="./css/footer.css">
	  
    <!-- <script src="https://use.fontawesome.com/9c4ab94980.js"></script> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <title>Classical Physics Website</title>
   <link rel="shortcut icon" type="image/png" href="./media/favicon.jpg">
  </head>
  <body>

 <!-- Header -->
      <%- include("./partials/header.ejs")  %>
   <!-- header -->
 
   <!--   Hoverable Sidenav -->
   <%- include("./partials/sidenav.ejs")  %>

  <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div id ="our-team-title">
			Contact Us
			</div>
      <hr style="border-color:#5B838A;width:18%;">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="info-box mb-4">
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABsElEQVRIS7WV7TVEQRBE70aACBABIkAEiAARIBJEgAgQASIgA2RABJzrdDuz482btz/Mn7dnPqqqq3pmZ/zzmP0zPlMI1oATYAfYDEEvwCNwCbyNiewRXAT4GIZ7zlobxghUuREHbwCBnHNYySlwWFS0NUTSIkjln2FNAtcYEmnVUtgl6dwYItDz19ilKsGdO68y0Bb9l+Q59q/XmQwRpHoDVJHgAixX4j4ABUhyHXblmd+tQwTpfaq/A/aAJ+AoTgq4DdwD+0UVnp3LYojgK0ByTaV6XJafNqreeUd97mdyEYIVQDJHErzH74UI7ArLry1y/jgIrqK70iIv4UPY6O/RDDIwu8TAVau32lQOW9gO0iabwS7zvmROTYsM7TYOpr+SSFY+FYLmM+F3FTgAbIrRClzMA1piRWNDxVpW5tElyCoM1Soy3JrIu+Gl9PtHfauLEiTD9rvbKCHvjHdkLtzcP/bYqUqrDFebsoPybDaDYZvRYJW957p8zEqSElzlrcdw0h9OTWJlZtR7aZttOmR3SeL6JPBeyDWRJNmytmbTlin3oNP605d7IU9Hauz8BnP3aBnDm7xZAAAAAElFTkSuQmCC"/>
              <h3>Our Address</h3>
              <p>The LNM Institute of Information Technology<br>
Rupa ki Nangal, Post-Sumel,<br> Via-Jamdoli
Jaipur-302031,<br> (Rajasthan) INDIA</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="info-box  mb-4">
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABCUlEQVRIS+2V0Q3CMAxErxMwAmwAbNBRYBJgEhiFDSgjsAEbgA7FkmXZcdqqf+SHqkn87txL6LDw6BaujzGAHYBrEXQEMLSIawWcAZxMQb67ZJAMIKr5yyEFBUYXVTc1gFb9BHBQbSHwBmBbwKEbD+CpZgFvaBGuGwuoqY7aXXWjAVQgltnrSHUEsm72XKgBH7WzKSFOqnTSfrUjAOfShBSA/WbCDQG01pSQ0kZRLUl7FEIIEFe1hNSSJq1OARTiJYTvJQD2fHBuFED66V0VUdImAbQbPutTbWM7GZDdazL/B6SdClv0BrBKt7cteAHY2KuiLyd43VYjXMXiTNndAmbW9bdnf5mzoV8GGUoZ4XK3ogAAAABJRU5ErkJggg=="/>
              <h3>Email Us</h3>
              <p>Email: ugadmissions@lnmiit.ac.in
              <br> pgadmissions@lnmiit.ac.in
              <br>For other query: info.lnmiit@lnmiit.ac.in<br><br></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="info-box  mb-4">
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABwElEQVRIS7WVjTEEQRBG30WACBABIkAGRIAIEAEiQASIABEgAkRACDKg3tX0Vu/YcXuqrquurmp3pl/31z87YcE2WbB//gv4Bt7K7wF4bAU6BFgGnsqFXeBr4LKAbMKOCrD3ogaE881yyostiGd2gBNgtQRyCtxmQgZk5+/l0EaJqgUJX1fAcYF41sCmlgHPwDagcyPTfDYEUbZXQP2vy9mA6HxrCBC6riTdzSog/hudlmuQHX4WufYLvJdBXGrJ9pIyE7IHnJcM1d4MrMclcAcctiQySqPVjE6JQra6o4TcAwG38ErXZZWjtfoHQEQjIFLO0LprzVyw0mb5pr4zwJRuMr2kbXdYSNOf22q9jXgJWC/RrwEfxaud0bXfWFI9aCFTV6SURT2tYyb+1y4yYh2ZReieW9XA7RZ3j90yc+KHdpGtd1YKpyzKJsTn1iPbzIlvbdOYarNxaIRoZmixbU87Z9bEN9d1lkVHQmI2hurbmvg/vwdecte4nzQb4CJlk0F5UfYmfswHR+2VxcLHdAtTPp3VW1jZuokfAwjtBal9gGqpBtfJWEA4M1ojFGTBQz4zicL3wPMCxg5wd27hgB9RYnsZHssi0wAAAABJRU5ErkJggg=="/>
              <h3>Call Us</h3>
              <p>Toll Free No.: 1800-180-6566
              <br>M.Tech/Ph.D. related query: 1800-180-6566
              <br>Administration: 0141-2688093, 0141-5191713/720
              <br>Tel: 0141-2688090, 0141-5191851/852</p>
            </div>
          </div>

        </div>

        <div class="row">

          <!-- <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/place/The+LNM+Institute+of+Information+Technology/@26.93641,75.92381,16z/data=!4m5!3m4!1s0x0:0x5ab565cce4d44c2b!8m2!3d26.9363461!4d75.9235233?hl=en-GB" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen> </iframe>
          </div> -->

          <div class="col-lg-12">
            <div class="info-box  mb-4">
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABn0lEQVRIS7WVgTEEQRBF30WACBABIiADRIAMiIAMEAEi4DIgAkRACERAvavpqtnZ2d1x6qZq63b3Zvr//v27d8aK12zF8WkF2AKugd1E6A24AD6nCLYAGPwVWC+CfQF7UyAtAE/AIfACnCaQe2AfmANHY1m0AMh0DdjO2JrVR3r2/eD6C8AGIJgrAL4r0nXAWgCU4wR4Bs7S6TvgAHjIZKtm0QIgW12jTPmSva4adVILQEhylTLxWeY+/9umyqA0sX7STU6s3DNZA/1+mbT1Pg9WA/Cdxb8BbjMjLIBKidT0MbnE/9+Tz0OKEsD62Cc7ibb7jlPNegCy1dv+RlOVGtcyMJDEzMDmMxt7Y2HpPIPo2DHrDQGE7r0YOYBsN4uOLb0dBbewtdXr8BygNhLKIBE4d1a+p9fhOUB0rGlaqGXWqER5x8ZYmGykxMKzMT46HV6zqcFjLHgvK0eFlo1hp9O0pu5xhMeHyODK6P5qH/jSw+fpKufPkGwG1qZeQWIQIIII5MdERkqgx/NlryhhZNkJPJbBMsUdPNM6TZcG/QXcp10ZY157sAAAAABJRU5ErkJggg=="/>
              <h3>Location</h3>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3556.964304229176!2d75.92133461504544!3d26.936346083117396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396dba21e8a1d1c9%3A0x5ab565cce4d44c2b!2sThe%20LNM%20Institute%20of%20Information%20Technology!5e0!3m2!1sen!2sin!4v1590495186289!5m2!1sen!2sin" width="1000" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <!-- <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form> -->
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
	  
	  

	  <!-- footer -->
		<%- include("./partials/footer.ejs")  %>	  




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
