<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/Home.css">
    <!-- <script src="https://use.fontawesome.com/9c4ab94980.js"></script> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <title>Classical Physics Website</title>
    <link rel="shortcut icon" type="image/png" href="./media/favicon.jpg">
  </head>
  <body>

	  <!-- navbar -->
   <%- include("./partials/header.ejs")  %>
	  <!-- navbar -->


   <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active"></div>
          <div class="carousel-item"></div>
          <div class="carousel-item"></div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>


   <div class="row">
     <div class="col-2"></div>
      <!-- About section -->
      <div class="col-8" id="aboutsection">
        <p><h3><strong>ABOUT US</strong></h3></p>
        <p>"Established in 2003, the aim of the institute had always been to uplift students and add to their life an ever glowing lamp of knowledge. This is one of the great ideas from our faculty that will stand as a great tool for the students. An engineer without the knowledge of physics would be like a car without wheels. Hence the Classical Physics course for the 1st year B.Tech students is equipped with both theoretical and practical knowledge, thus empowering the students with a better way of learning. The experimental knowledge helps the students to develop a better understanding of fundamental concepts and principles while, at the same time, helping the student to develop skill in carrying out scientific measurements. An easy access to Physics, well an easy access to all the study material, an easy access to knowledge, one needs to excel in examinations as well as in life."</p>
      </div>
      <div class="col-2"></div>
   </div>
	
	
   <!--   Hoverable Sidenav -->
		
	<%- include("./partials/sidenav.ejs")  %>
  
	
	
  <!-- ======= Time-Table Section ======= -->
<section id="contact" class="contact">
  <hr style="border-color:#5B838A;width:16%;">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="info-box mb-4">
          <i class="far fa-calendar-alt"></i>
          <h3>Time-Table</h3>
          <p> (Only Classical Physics)<br></p>
          <table class="table table-striped table-bordered ">
  <thead class="thead" style="background:#292E49; color:white;">
    <tr>
      <th scope="col">#</th>
      <th scope="col">MON</th>
      <th scope="col">TUE</th>
      <th scope="col">WED</th>
      <th scope="col">THUR</th>
      <th scope="col">FRI</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">11:00 - 12:00</th>
      <td>Physics</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Physics</td>

    </tr>
    <tr>
      <th scope="row">12:00 - 13:00</th>
      <td>-</td>
      <td>-</td>
      <td>Physics</td>
      <td>-</td>
      <td>-</td>

    </tr>
    <tr>
      <th scope="row">13:00 - 14:00</th>
      <td>Physics</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>

    </tr>
    <tr>
      <th scope="row">16:00 - 17:00</th>
      <td>Physics</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>

    </tr>
    <tr>
      <th scope="row">17:00 - 18:00</th>
      <td>-</td>
      <td>-</td>
      <td>Physics</td>
      <td>-</td>
      <td>-</td>

    </tr>

  </tbody>
</table>
        </div>
      </div>
    </div>
  </div>
</section>


   <!-- ======= Contact Section ======= -->
     <section id="contact" class="contact">
       <hr style="border-color:#5B838A;width:16%;">
       <div class="container">

         <div class="row">
           <div class="col-lg-6">
             <div class="info-box mb-4">
               <i class="fas fa-book-reader"></i>
               <h3>Lectures</h3>
               <img src="./media/lecture.jpg" class="rounded mx-auto d-block">
               <p><br>Quick access to all the lecture notes!!<br><br></p>
               <a href="/lectures" class="btn">CLICK</a>
             </div>
           </div>

           <div class="col-lg-6 ">
             <div class="info-box  mb-4">
                <i class="fas fa-cog"></i>
              <h3>Resouces</h3>
               <img src="./media/bookShelf.jpg" class="rounded mx-auto d-block">
               <p><br>Quick access to some interesting videos, physics lovers' favourite place!!<br><br></p>
               <a href="/resources" class="btn">CLICK</a>
             </div>
           </div>
         </div>
       </div>
     </section><!-- End Contact Section -->

    
   <!-- footer -->
	<%- include("./partials/footer.ejs")  %>
   <!-- footer -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./js/Home.js"></script>
  </body>
</html>
