@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* Header Styling*/
#logo {
	width: 140px;
	height: 55px;
	padding-left: 0.3rem;
	padding-bottom: 0.5rem;
	padding-top: 0.2rem;
}

#navbarBrand {
	background: #292E49;
	height: 80px;
}

#navbarHeader {
	color: white;
}

#navbarHeader div:nth-of-type(2){
	font-family: "Open Sans Condensed", sans-serif;
}

#navbarHeader div:nth-of-type(1){
	font-family: "Anton", sans-serif;
}

.navbar {
	padding: 0rem;
	margin: 0;
	font-size: 1rem;
	background: #FFE58f;
}

.navbar .nav-item a {
	font-family: "Georgia", serif;
	color: #292E49;
	font-weight:500;
	transition: all 1.4s;
}

.navbar .nav-item a:before,
.navbar .nav-item a:after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.navbar .nav-item a:before {
	text-align: left;
	content: '[';
	margin-right: 3px;
	opacity: 0;
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}
.navbar .nav-item a:after {
	text-align: left;
	content: ']';
	margin-left:3px;
	opacity: 0;
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.navbar .nav-item a:hover {
	color: white;
	background: #292E49;
	z-index: 1;
}

.navbar .nav-item a:hover:after {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
  	-moz-animation: fill 1s forwards;
  	opacity: 1;
  	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.navbar .nav-item a:hover:before {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
  	-moz-animation: fill 1s forwards;
  	opacity: 1;
  	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

/* Header Styling end*/

h1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  color: #333;
  -webkit-text-shadow: 0 2px 1px rgba(0, 0, 0, 0.6), 0 0 2px rgba(0, 0, 0, 0.7);
  -moz-text-shadow: 0 2px 1px rgba(0, 0, 0, 0.6), 0 0 2px rgba(0, 0, 0, 0.7);
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.6), 0 0 2px rgba(0, 0, 0, 0.7);
  word-spacing: 16px;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  color: #222;
  text-shadow: 0 0 40px #FFFFFF, 0 0 30px #FFFFFF, 0 0 20px #FFFFFF;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: url('');
  background-size: cover;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  height: auto;
  display: table;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

.item {
  width: auto;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 8px;
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 6em;
  }
  p {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1.2em;
  }
}

