/* Header Styling*/
#logo {
	width: 140px;
	height: 55px;
	/*padding-left: 0.3rem;
	padding-bottom: 0.5rem;
	padding-top: 0.2rem;*/
}

#navbarBrand {
	background: #292E49;
	height: 80px;
}

#navbarHeader {
	color: white;
}

#navbarHeader div:nth-of-type(2){
	font-family: "Open Sans Condensed", sans-serif;
}

#navbarHeader div:nth-of-type(1){
	font-family: "Anton", sans-serif;
}

.navbar {
	padding: 0rem;
	margin: 0;
	font-size: 1rem;
	background: #FFE58F;
}

.navbar .nav-item a {
	font-family: "Georgia", serif;
	color: #292E49;
	font-weight:500;
	transition: all 1.4s;
}

.navbar .nav-item a:before,
.navbar .nav-item a:after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.navbar .nav-item a:before {
	text-align: left;
	content: '[';
	margin-right: 3px;
	opacity: 0;
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}
.navbar .nav-item a:after {
	text-align: left;
	content: ']';
	margin-left:3px;
	opacity: 0;
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.navbar .nav-item a:hover {
	color: white;
	background: #292E49;
	z-index: 1;
}

.navbar .nav-item a:hover:after {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
  	-moz-animation: fill 1s forwards;
  	opacity: 1;
  	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.navbar .nav-item a:hover:before {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
  	-moz-animation: fill 1s forwards;
  	opacity: 1;
  	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

/* Header Styling end*/
.carousel-inner  .carousel-item {
	height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.carousel-inner  .carousel-item:nth-of-type(1) {
	background-image: url("/media/jumbotronimg.jpg");
}

.carousel-inner  .carousel-item:nth-of-type(2) {
	background-image: url("/media/jumbotronimg3.jpg");
}

.carousel-inner  .carousel-item:nth-of-type(3) {
	background-image: url("/media/jumbotronimg2.jpg");
}


body {
	background: #FFFFFF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
overflow-x: hidden;
}


/* Sidenav styling*/
#mySidenav a {
	color: #292E49;
	position: fixed;
	left: -120px;
	transition: 0.3s;
	padding: 8px;
	margin-top: 35vh;
	width: 150px;
	height: 50px;
	text-decoration: none;
	font-size: 21px;
	color: black;
	border-radius: 0 5px 5px 0;
	border: 1px solid #292E49;
	text-align: right;
}

#mySidenav a:hover {
  left: 0;
  background-color: #292E49;
  color: white;
}

#facebook {
	top: 0;
}
#instagram {
	top: 8%;
}
#twitter {
	top: 16%;
}
#linkedin {
	top: 24%;
}
#youtube {
	top: 32%;
}

#aboutsection {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 20px;
        text-align : centre;
    /* color: #292E49; */
}
/* Sidenav styling ends*/


.card {
	margin: 15px;
	background-color: #FFE7;
	border: 1px solid #292E49;
	max-height: 400px;
	width: 200%;
}

.card img {
	height: 75%;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.card .btn {
	border: 1px solid #292E49;
}

.card .card-text {
	font-family: "Open Sans Condensed", sans-serif;
	color: #292E49;
}

.btn{
	color: #292E49;
	font-weight: 100;
border: 2px solid #292E49;
	transition: all 0.3s;
background: #FFFFFF;
}

.btn:hover {
	color: #FFEFBA;
	background: #292E49;
	border: 2px solid #292E49;
	letter-spacing: 1px;
	font-weight: 800;
}


footer {
	background: #292E49;
	margin: 80px 0 0 0;
	height: 80%;

}

#logofooter {
	width: 130px;
	height: 45px;
	margin-top: 1.8rem;
	margin-left: 8rem;
}

#bottoma a {
	float: left;
	margin-top: 1.5rem;
	margin-left: 2rem;
	color: #FFEFBA;
	
}

#bottom a:nth-of-type(4) {
	padding-right:8rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(34, 36, 35, 0.3), rgba(72, 74, 73, 0.75), rgba(34, 36, 35, 0.2));
}

#footericons a {
	font-size: 1.3rem;
	color: #FFEFBA;
	margin-right: 0.6rem;
	margin-bottom: 0.1rem;

	 -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
}

#footericons a:hover {
	font-size: 1.8rem;
	color: white;
}

#copyright p {
	margin-left: 4rem;
	color: #FFEFBA;
	font-size: 1rem;
}

/*- - - - - - C O N T A C T - C A R D S - - - - - */

#our-team-title
{
	margin-left: 36.1%;
	margin-top: 5%;
	font-size: 500%;
	color: #000000;

}

#line
{
	margin-left: 32%;
}



/* CONTACT US*/

 .contact .info-box {
  margin-top: 5%;
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: #e96b56;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #fef5f4;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}


.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}


@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}





